html, body {
    --header-color: #3E3228;
    --clear: #EEE5E5;
    --background: #77AF9C;
    --primary: #0D324D;
    --primary-lighter: #155079;
    --primary-darker: #092234;
    --secondary: #6694CC;
    font-family: Courier, monospace;
    color: var(--clear);
    background-color: var(--background);
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-weight: bolder;
    background-color: var(--header-color);
    padding: 1em 0;
    margin: 0;
}

a {
    all: unset;
}