.content {
    display: flex;
    flex-grow: 1;
}

.content button {
    all: unset;
    padding: 0.25em;
    font-size: 6em;
}

.content button:hover {
    background-color:rgba(0, 0, 0, 0.2);
}

.slideshow {
    flex-grow: 1;
}

.slideshow-element {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideshow-element a {
    all: unset;
    cursor: pointer;
    z-index: 100;
}

.slideshow-element a:visited {
    color: var(--clear);
}

.slideshow-element h2 {
    all: unset;
    font-size: 3em;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: var(--primary);
    z-index: 100;
}

.slideshow-element h2:hover {
    background-color: var(--primary-lighter);
}


.slideshow-element li {
    all: unset;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5em;
    border-radius: 0.5em;
    font-size: 2em;
    background-color: var(--secondary);
}

.activity-tag {
    top: 0px;
    left: 0px;
}

.hide {
    display: none;
}