
<h1>#{ tdSubject topic }</h1>

<p><a href="@{HomeR}">Torna a la pàgina principal</a></p>

<table class="table table-striped table-condensed">
  <thead><tr><th>Qüestió</th><th>Per / Iniciada</th><th>Posts</th><th>Última activitat</th></tr></thead>
  <tbody>
      <tr>
        <td><strong>#{ tdSubject topic }</strong></td>
        <td>^{ uidNameWidget (tdUserId topic) } / <span class="small">^{ dateWidget (tdStarted topic) }</span></td>
        <td>#{ tdPostCount topic }</td>
        <td>$maybe{ lastpid <- tdLastPostId topic } ^{pidPostedWidget lastpid} $end </td>
      </tr>
  </tbody>
</table>

<h4>Posts</h4>
<table class="table table-striped table-condensed">
  <thead><tr><th>Usuari</th><th>Hora</th><th>Post</th></tr></thead>
  <tbody>
    $forall{ (pid, post) <- posts }
      <tr>
        <td>^{ uidNameWidget (pdUserId post) }</td>
        <td>^{ dateWidget (pdPosted post) }</td>
        <td><strong>#{ pdMessage post }</strong></td>
      </tr>
    $end
  </tbody>
</table>

$if{ isJust mbuser }
<h4>Crear un nou missatge</h4>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-10">
    <form role="form" method="POST" action="@{TopicR tid}">
      ^{pformw}
      <button type="submit" class="btn btn-success">Nou post</button>
    </form>
  </div>
</div>
$end

