
  <h2>Topic</h2>
  <div class="jumbotron"><table class="table">
    <tr><th>Creat per:</th><td>{{$ctrl.topic.user}}</td></tr>
    <tr><th>Títol:</th><td>{{$ctrl.topic.title}}</td></tr>
    <tr><th>Detalls:</th><td><pre>{{$ctrl.firstPost.message}}</pre></td></tr>
  </table></div>

  <h3>Respostes</h3>

  <!--
  <div class="row" ng-if="!$ctrl.openedNewTopic">
    <div class="col-sm-offset-8">
      <button type="button" class="btn btn-sm btn-info" ng-click="$ctrl.openNewTopic()">
        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
        Nova qüestió
      </button>
    </div>
  </div>
  <div ng-if="$ctrl.openedNewTopic">
    <div ng-if="$ctrl.maybeUser()!=null">
      <new-topic on-submit="$ctrl.newTopic(data)" on-cancel="$ctrl.closeNewTopic()"></new-topic>
    </div>
    <div ng-if="$ctrl.maybeUser()==null">
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" ng-click="$ctrl.closeNewTopic()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Avís!</strong> Cal autenticarse per a poder fer noves qüestions.
      </div>
    </div>
  </div>
  -->

  <table class="table table-striped">
    <thead>
      <tr><th class="col-xs-3">
        <a ng-click="$ctrl.toggleReversed()">
          Data<span class="glyphicon glyphicon-triangle-{{$ctrl.reversed ? 'top':'bottom'}}" aria-hidden="true"></span>
        </a> / Per</th>
      <th class="col-xs-9">Títol</th></tr>
    </thead>
    <tbody>
      <tr ng-repeat="post in $ctrl.posts | orderBy : 'stated' : $ctrl.reversed">
        <td class="col-xs-3">{{post.posted | date : "d MMM,yyyy H:mm:ss"}}<br> per <em>{{post.user}}</em></td>
        <td class="col-xs-9">{{post.message}}</td>
      </tr>
    </tbody>
  </table>

