html, body {
    --color-primary: #8B9556;
    --color-secondary: #6D545D;
    --color-lighter: #ABB557;
    --color-lightest: #BED558;
    --color-darker: #756D54;
    font-family: Monospace;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    margin: 0;
}

header {
    position: relative;
}

header h1 {
    color: var(--color-lightest);
    text-align: center;
    padding: 2em;
    margin: 0;
}

header p {
    position: absolute;
    top: 1.5em;
    right: 2em;
    margin: 0;
}

#content {
    
}

.card-container {
    padding: 0;
    display: flex;
    justify-content: center;
}

.card-container ul {
    padding: 0;
}

.card-container li {
    list-style-type: none;
}

.card {
    text-align: center;
    background-color: var(--color-lighter);
    padding: 1em 4em;
    border-radius: 1em;
    margin: 1em;
}

.card h4 {
    margin: 2em 0em 0.5em 0em;
}
