.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content > div {
    background-color: var(--clear);
    padding: 2em;
    border-radius: 1em;
    margin: 3em;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}

h3 {
    color: var(--background);
    text-align: center;
    padding-bottom: 1em;
    font-weight: 900;
}
